.service {
    height: 400px;
    width: 300px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.service img {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 200px;

}

.font-bold {
    font-weight: bold;

}